mixin sCaptionBlock(data)
	// start sCaptionBlock
	+b.SECTION.sCaptionBlock#sCaptionBlock&attributes(attributes)
		+pic('caption-block-about.jpg','',0)
		+e.wrap
			h2 Рейтинги
			+e.item
				+e.item-title TOP 10
				+e.item-caption Крупнейших поставщиков BI-систем в&nbsp;России по&nbsp;версии аналитического агентства TAdviser
			+e.item
				+e.item-title TOP 5
				+e.item-caption Крупнейших аутсорсеров поддержки систем SAP в&nbsp;России по&nbsp;версии аналитического агентства TAdviser
			+e.item
				+e.item-title TOP 5
				+e.item-caption Крупнейших аутсорсеров поддержки систем SAP в&nbsp;России по&nbsp;версии аналитического агентства TAdviser
	// end sCaptionBlock