
	// start .sForm
	.sForm {
		position: relative;
		// overflow: hidden;
		z-index: 2;
		--sTPB: #{rem(32)};
		.animate-blur{
			width: rem(900);
			height: rem(800);
			right: rem(-500);
			top: rem(-400);
			z-index: -1;
		}
		.form-wrap{
			@include media-breakpoint-up(md) {
				
				max-width: rem(556);
			}
			&__btn{
				// @extend .btn;
				color: #fff;
				@include media-breakpoint-up(md) {
				width: rem(185px);
			}
			width: 100%;
			}
			h2{
				text-transform: none;
			}
			p {
				font-size: rem(13);
				font-weight: 300;
				opacity: 0.5;
				margin-bottom: rem(15);
			}
			.custom-input {
				margin-bottom: rem(12);
				cursor: pointer;
				&:last-child {
					margin-bottom: rem(32);
				}
				&__input {
					border-color: #fff;
				}
				&__text {
					font-size: rem(13);
					font-weight: 300;
					vertical-align: text-bottom;
				}
			}
		}
	&--2 {
		background-color: transparent !important;
		h2 {
			font-weight: 500;
		}
		.form-wrap__policy {
			margin-bottom: rem(16);
		}
		.filepond {
			cursor: pointer;
			&--drop-label {
				cursor: pointer;
				border-radius: 4px;
				font-size: rem(13);
				font-weight: 300;
				background-color: rgba(255, 255, 255, 0.05);
				border: 1px dashed rgba(255, 255, 255, 0.2);
				color: #7E7D85;
				label {
					cursor: pointer;
				}
			}
			&--panel-root {
				cursor: pointer;
				background-color: transparent !important;
			}
			&--credits {
				display: none;
			}
		}
	}
	&.bg-white {
		.form-wrap {
			&__input-title {
				color: #08080B;
			}
			&__btn {
				@extend .btn-secondary;
				--bs-btn-bg: #08080B;
				--bs-btn-color: #fff;
			}
		}
		.custom-input {
			&__input {
				border-color: #08080B;
			}
		}
		.filepond {
			&--drop-label {
				cursor: pointer;
				background-color: rgba(8, 8, 11, 0.05);
				border: 1px dashed rgba(8, 8, 11, 0.2);
				color: #7E7D85;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sForm