mixin sWorkConditions(data)
	// start sWorkConditions
	+b.SECTION.sWorkConditions.section#sWorkConditions&attributes(attributes)
		.container
			+b.section-title
				h2 Условия работы
			+e.wrap
				+e.caption Более 13&nbsp;лет работаем над тем, чтобы быть лучшей консалтинговой компанией в&nbsp;сфере внедрения ИТ-решений для бизнеса
				+e.link(href="https://hh.ru/employer/60444" target="_blank")
					span Смотреть&nbsp;все&nbsp;вакансии
					+icon('arrow-right-link')
			.row
				mixin item(icon,caption)
					.col-lg-4
						+e.item
							+e.item-icon
								img(src=`img/svg/sWorkConditions-${icon}.svg`, alt="")
							+e.item-caption!=caption
				+item('1','ДМС со стоматологией')
				+item('2','Корпоративная мобильная связь')
				+item('3','Программа признания «Спасибо тебе»')
				+item('4','Возможность работать удаленно или в офисе')
				+item('5','Корпоративное обучение')
				+item('6','Мотивационная программа SAPRUN')
				+item('7','Разговорный клуб английского языка')
				+item('8','Корпоративные традиции и вдохновляющие мероприятия')
				+item('9','Дополнительный день отпуска после первого года работы')
	// end sWorkConditions