mixin sPrinciples(data)
	// start sPrinciples
	+b.SECTION.sPrinciples.section#sPrinciples&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sPrinciples
				
			.row
	// end sPrinciples