mixin sFocus(data)
	// start sFocus
	+b.SECTION.sFocus.section#sFocus&attributes(attributes)
		.container
			+b.section-title
				h2 Фокус на потребностях заказчика
			.row
				mixin item(num,txt)
					.col-md-6
						+e.item
							+e.num!=num
							+e.txt!=txt
				+item(`1`,`Единая точка входа для обращений, персональный сервис-менеджер. Поддержка пользователей в&nbsp;режиме горячей линии&nbsp;&mdash; единый телефон, e-mail и&nbsp;Service Desk (возможность использования интерфейса SAP Solution Manager)`)
				+item(`2`,`Объективная оценка качества услуг. Наличие норм и&nbsp;метрик, позволяющих измерить уровень и&nbsp;качество предоставления услуг`)
				+item(`3`,`Доступность и&nbsp;гарантия надежности сервиса. Наличие внешних спецификаций услуг, внедрение методологии, инфраструктура сопровождения.`)
				+item(`4`,`Гибкий подход к&nbsp;оказанию услуг и&nbsp;возможность оптимизации сервисной модели на&nbsp;основании фактической статистики`)
	// end sFocus