// start .sJoin
.sJoin {
	padding: 0; 
	display: block !important;
	&__inner{
		position: relative;
		overflow: hidden;
		@include media-breakpoint-up(lg){

			min-height: 100vh;
		}
		min-height: 75vh;
	}
	&__head{ 
		// overflow: hidden;
		text-align: center;
		&::after
		&::before{
			content: '';
			position: absolute;
			@include a-cent(x);
			height: 20%;
			background-color: #fff;
			width: 100%;
		}
		&::after{
			top: 0;
		}
		&::before{
			bottom: 0;
		} 
		svg{ 
			position: absolute; 
			@include a-cent1;
			min-width: 120vw;
			min-height: 120vh;
			pointer-events: none;
		}
		[fill="#E1501D"],
		[fill="#EB8A03"]{
			// fill: transparent !important;
		}
	} 
	&__head{
		position: absolute; 
		z-index: 3;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none; 
	} 
	&__img-wrap{
		background-color: #fff;
		@include media-breakpoint-up(lg) {
			position: absolute;
			
		}
		@include media-breakpoint-down(lg) {
			transform: none !important;
		}
		position: relative;
		z-index: 2;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include media-breakpoint-up(lg) {

			pointer-events: none;
			img{
				opacity: 0;
				
			}
		}
	}
	.img-animate{
			filter: saturate(0);
	}
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{
		
		@include media-breakpoint-up(lg) {
			opacity: 0;

			margin-left: auto;
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			// align-items: center;
			justify-content: center;
		}
	}
	&__item{

	}
	h2{
		text-transform: uppercase;
	}
	p{
		font-weight: 300;
		color: #08080B;
	}



	&__img-wrap-mob{
		filter: saturate(0);
		&::after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 25%;
			width: 100%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1.47%, #FFFDFD 96.28%);
		}
		img{
			// z-index: -1;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sJoin