mixin content()
	+e.img-wrap 
		+img("img/sjoin-img.jpg",'bg').img-animate  
	+e.col.col-lg-6.container 
		.section
			h2 Присоединяйтесь <br>  к&nbsp;команде &laquo;SAPRUN&raquo;
			p В&nbsp;SAPRUN мы&nbsp;создаем успешный бизнес, в&nbsp;котором всем нам комфортно и&nbsp;интересно работать. Бизнес,  в&nbsp;котором отношения строятся на&nbsp;доверии, взаимовыгодном, доброжелательном и&nbsp;долгосрочном сотрудничестве. Наша цель&nbsp;&mdash; максимально реализовать потенциал клиентов и&nbsp;сотрудников.
			+b.link-more(href="#") Присоединиться
					+icon("arrow-right-link")


mixin sJoin(data)
	// start sJoin
	+b.SECTION.sJoin#sJoin&attributes(attributes)
		+e.inner.d-none.d-lg-block
			+e.head
				<svg width="1280" height="720" viewBox="0 0 1280 720" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M773.389 269.904L717.98 311.544C719.478 314.492 720.976 318.545 721.35 324.441C722.099 336.97 722.473 349.499 722.473 362.027C722.473 374.556 721.724 387.085 720.976 399.614C719.852 415.827 706.749 428.725 690.276 429.83C674.926 430.567 658.828 431.304 642.355 430.936C625.134 430.936 607.912 430.199 590.69 429.093C574.217 427.988 561.488 415.09 560.365 398.508C559.617 388.19 559.242 371.24 558.868 366.081H498.218L500.838 425.04C502.71 453.414 525.173 476.26 553.252 478.103C583.203 480.314 613.153 481.419 643.104 481.419C671.557 481.419 699.636 480.682 726.217 479.208C754.67 477.366 777.133 455.256 779.379 426.882C780.877 404.773 782 382.663 782 360.185C782 338.075 781.626 315.966 780.128 293.488C779.754 283.538 777.507 276.537 773.389 269.904Z" fill="#EB8A03" class="color-fill"/>
					<path d="M710.867 303.08L767.025 261.072C758.414 250.017 744.187 242.279 728.089 240.805C700.01 238.962 672.306 237.857 644.227 237.857C615.025 237.857 585.075 238.594 554.001 240.436C525.548 241.91 502.71 264.388 500.838 292.762C499.341 314.503 498.218 335.876 498.218 356.143H558.868C558.868 346.194 559.617 334.77 560.365 323.715C561.488 307.502 574.592 294.605 591.065 293.499C609.035 292.394 626.257 292.025 642.729 292.025C658.828 292.025 674.552 292.762 690.651 293.868C698.887 294.605 706.749 298.289 710.867 303.08Z" fill="#E1501D"  class="color-fill"/>
					<path d="M711.112 303.1L767.392 261L771.5 258L778 266.5L773.77 269.852L718.241 311.582C719.742 314.536 721.242 318.599 721.618 324.507C722.368 337.063 722.743 349.619 722.743 362.175C722.743 374.731 721.993 387.286 721.243 399.842L721.243 399.843C720.117 416.092 706.985 429.018 690.476 430.125C675.093 430.864 658.96 431.603 642.451 431.233C625.192 431.233 607.933 430.495 590.674 429.387C574.165 428.279 561.408 415.354 560.283 398.735C559.843 392.68 559.533 384.344 559.275 377.437L559.275 377.432C559.093 372.548 558.937 368.379 558.782 366.237H494.5V356.278H558.782C558.782 346.307 559.532 334.859 560.283 323.78C561.408 307.531 574.54 294.606 591.049 293.498C609.058 292.39 626.318 292.021 642.826 292.021C658.96 292.021 674.718 292.759 690.852 293.867C699.106 294.606 706.985 298.299 711.112 303.1Z" fill="white"   class="border-fill"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M1280 0H0V720H1280V0ZM497.801 356.497C497.801 336.185 498.926 314.766 500.427 292.978C502.303 264.542 525.19 242.015 553.705 240.538C584.847 238.692 614.862 237.953 644.128 237.953C672.268 237.953 700.032 239.061 728.172 240.907C744.306 242.385 758.563 250.14 767.193 261.219L773.571 270.07C777.698 276.718 779.949 283.734 780.325 293.705C781.825 316.232 782.201 338.39 782.201 360.547C782.201 383.074 781.075 405.232 779.574 427.39C777.323 455.825 754.811 477.983 726.296 479.83C699.657 481.307 671.517 482.045 643.002 482.045C612.986 482.045 582.971 480.937 552.955 478.722C524.815 476.875 502.303 453.979 500.427 425.543L497.801 366.456V356.497Z" fill="white"/>
					</svg>
			+content()
		.d-lg-none
			+content()
	// end sJoin