mixin newItem(i,t,p)
	+b.new-item(href="#")
		+e.title= t
		+e.text= p
		+e.img-wrap.bg-wrap
			+img(`img/news-${i}.jpg`,'bg').picture-bg
		+e.date 27 июня 2022
mixin sNews(data)
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container
			+b.section-title
				.row
					.col
						h2 Новости
					.col-auto 
						+b.link-more(href="#") Все новости и публикации
							+icon("arrow-right-link")
				
			+e.slider--js.swiper
				.swiper-wrapper
					- for (var x = 0; x < 3; x++)
						+e.slide.swiper-slide
							+newItem(`1`,`Сотрудники ИНВИТРО ставят цели  и планируют развитие с помощью SAP SuccessFactors`,`Москва, Россия – 10 февраля, 2022 года— Группа компаний «Инвитро», одна из крупнейших медицинских групп РФ, продолжает масштабную трансформацию своей HR-функции`)
						+e.slide.swiper-slide
							+newItem(`2`,`«Узпромстройбанк» первым внедрит механизмы определения себестоимости продуктов`,`Команда SAPRUN не только внедряет новые системы SAP, но и оперативно сопровождает тысячи пользователей в компаниях по всей стране.`)
						+e.slide.swiper-slide
							+newItem(`3`,`Онлайн-конференция «Инновационный день фармацевтических компаний 2021»`,`Организаторами мероприятия 9 декабря выступили компании SAP, SAPRUN и DSM Group (ведущее маркетинговое агентство в сфере исследований фармацевтического рынка).`)
				.swiper-scrollbar
	// end sNews

mixin sNewsPressCenter(data)
	// start sNews
	+b.SECTION.sNews--PressCenter.section#sNews&attributes(attributes)
		.container
			.swiper.sNews--PressCenter__slider--js
				+b.section-title
					.row
						.col
							h2 Новости
						.col-auto 
							//- +b.link-more(href="#") Все новости и публикации
							//- 	+icon("arrow-right-link")
							.arrow-wrapper
								.swiper-button-prev
									+icon('chevron-left')
								.swiper-button-next
									+icon('chevron-right')
				.swiper-wrapper
					- for (var x = 0; x < 6; x++)
						+e.slide.swiper-slide
							+newItem(`1`,`Сотрудники ИНВИТРО ставят цели  и планируют развитие с помощью SAP SuccessFactors`,`Москва, Россия – 10 февраля, 2022 года— Группа компаний «Инвитро», одна из крупнейших медицинских групп РФ, продолжает масштабную трансформацию своей HR-функции`)
						+e.slide.swiper-slide
							+newItem(`2`,`«Узпромстройбанк» первым внедрит механизмы определения себестоимости продуктов`,`Команда SAPRUN не только внедряет новые системы SAP, но и оперативно сопровождает тысячи пользователей в компаниях по всей стране.`)
						+e.slide.swiper-slide
							+newItem(`3`,`Онлайн-конференция «Инновационный день фармацевтических компаний 2021»`,`Организаторами мероприятия 9 декабря выступили компании SAP, SAPRUN и DSM Group (ведущее маркетинговое агентство в сфере исследований фармацевтического рынка).`)
					+e.slide.swiper-slide
							+newItem(`1`,`Сотрудники ИНВИТРО ставят цели  и планируют развитие с помощью SAP SuccessFactors`,`Москва, Россия – 10 февраля, 2022 года— Группа компаний «Инвитро», одна из крупнейших медицинских групп РФ, продолжает масштабную трансформацию своей HR-функции`)
					+e.slide.swiper-slide
						+newItem(`2`,`«Узпромстройбанк» первым внедрит механизмы определения себестоимости продуктов`,`Команда SAPRUN не только внедряет новые системы SAP, но и оперативно сопровождает тысячи пользователей в компаниях по всей стране.`)
					+e.slide.swiper-slide
						+b.end-news-card(href="#")
							+e.title Перейти в раздел новости
							+icon('arrow-right-link')
				.swiper-scrollbar
	// end sNews

mixin sNewsPublication(data)
	// start sNews
	+b.SECTION.sNews--Publication.section#sNews&attributes(attributes)
		.container
			.swiper.sNews--Publication__slider--js.sNews--Publication__slider
				+b.section-title
					.row
						.col
							h2 Публикации
				.swiper-wrapper
					- for (var x = 0; x < 6; x++)
						+publ-item(`Июнь 2022`,`1`,`Сотрудники ИНВИТРО ставят цели и&nbsp;планируют развитие с&nbsp;помощью SAP SuccessFactors`)
						+publ-item(`Август 2022`,`2`,`Золотая награда SAP QUALITY AWARD 2017`)
						+publ-item(`Май 2022`,`3`,`SAPRUN Group представит решение для построения эффективной дистрибуторской сети`)
					+publ-item(`Июнь 2022`,`1`,`Сотрудники ИНВИТРО ставят цели и&nbsp;планируют развитие с&nbsp;помощью SAP SuccessFactors`)
					+publ-item(`Август 2022`,`2`,`Золотая награда SAP QUALITY AWARD 2017`)
					+b.publ-item.swiper-slide
						+b.end-news-card(href="#")
							+e.wrap
								+e.title Перейти в раздел новости
								+icon('arrow-right-link')
				.swiper-scrollbar
	// end sNews

mixin sNewsReviews(data)
	// start sNews
	+b.SECTION.sNews--PressCenter.section#sNews&attributes(attributes)
		.container(data-aos="fade-up" data-aos-delay="300")
			.swiper.sNews--Reviews__slider--js
				+b.section-title
					.row
						.col
							h2 Отзывы
						.col-auto 
							.arrow-wrapper
								.swiper-button-prev
									+icon('chevron-left')
								.swiper-button-next
									+icon('chevron-right')
				.swiper-wrapper
					- for (var x = 0; x < 6; x++)
						//- mixin sNewsSlide()
						+e.slide--sNews.swiper-slide
							h4 Работаю в&nbsp;компании 3&nbsp;года, начинала с&nbsp;менеджера наряду, недавно доросла до&nbsp;заместителя руководителя. Каждый день сталкиваясь с&nbsp;новыми задачами, не&nbsp;плюхаюсь сама, если это что-то неизвестное, а&nbsp;получаю поддержку от&nbsp;своего руководителя.
							+e.author
								+img('img/reviews-img-1.jpg')
								+e.text-wrap
									h6 Ковалина Анастасия
									p Заместитель руководителя
						+e.slide--sNews.swiper-slide
							h4 Дружный коллектив и&nbsp;дружелюбная атмосфера позволяют не&nbsp;утаиваться проблемам, а&nbsp;наоборот быстрее их&nbsp;решать, учитывая мнение каждого. Интересно в&nbsp;компании проходят любые процессы: праздники, акции и&nbsp;тп, просто поражаешься креативу сотрудников.
							+e.author
								+img('img/reviews-img-2.jpg')
								+e.text-wrap
									h6 Козловский Даниил
									p Менеджер
				.swiper-scrollbar
	// end sNews


mixin publ-item(date,img,caption)
	+b.publ-item.swiper-slide
		+e.date!=date
		+pic(`publ-pic-${img}.jpg`,'',0)
		+e.caption!=caption
