// start .sNews
.sNews {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	position: relative;
	z-index: 4;
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	@include media-breakpoint-down(md) {
		&__slider {
			overflow: visible;
		}
	}
	&__slide {
		height: auto;
		@include media-breakpoint-up(md) {
			--y: #{rem(76)};
		}
		margin-bottom: var(--y, 40px);
		@include media-breakpoint-down(md) {
			width: 90%;
		}
		&--sNews {
			&::before {
				content: '';
				background-image: url('../img/svg/quote.svg');
				background-repeat: no-repeat;
				background-position: center;
				width: rem(24px);
				height: rem(24px);
				display: block;
				margin-bottom: rem(8);
			}
			h4 {
				font-family: 'Playfair Display',serif;
				margin-bottom: rem(22);
			}
		}
	}
	&__author {
		display: flex;
		align-items: center;
		img {
			// position: absolute;
			// top: 0;
			// left: 0;
			width: 100%;
			height: 100%;
			max-width: rem(48px);
			max-height: rem(48px);
			border-radius: rem(83px);
			flex: 0 0 auto;
			margin-right: rem(16);
		}
	}
	&__text-wrap {
		h6 {
			font-weight: 500;
			text-transform: uppercase;
			font-size: rem(12);
			margin-bottom: rem(4);
		}
		p {
			font-size: rem(13);
			font-weight: 300;
			margin-bottom: 0;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
	&--PressCenter,
	&--Publication {
		@include media-breakpoint-up(lg) {
			--sTPB: #{rem(16)};
		}
		.swiper-button-prev,
		.swiper-button-next {
			position: relative;
			top: unset;
			left: unset;
			right: unset;
			bottom: unset;
			opacity: 1;
			width: auto;
			height: auto;
			margin-top: 0;
			&::after {
				display: none;
			}
		}
		.swiper-button-prev {
			margin-right: rem(24);
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		.icon {
			font-size: rem(32);
			color: #000000;
		}
	}
	.arrow-wrapper {
		display: flex;
	}

	.sNews--Publication__slider {
		overflow: visible;
	}
} // end.sNews

.new-item {
	height: 100%;
	display: flex;
	flex-direction: column;
	&:not(:hover) {
		color: $body-color;
		img {
			filter: saturate(0);
		}
	}
	img {
		@include mt;
	}
	&__img-wrap {
		@extend .ratio;
		--bs-aspect-ratio: calc(202 / 340 * 100%);
		margin-top: auto;
		margin-bottom: rem(24);
	}
	&__text,
	&__date {
		color: $secondary;
		font-weight: 300;
		font-size: rem(13px);
		line-height: calc(16 / 13);
	}
	&__text {
		margin-bottom: rem(24);
	}
	&__title {
		font-weight: 600;
		margin-bottom: rem(8);
	}
}

.end-news-card {
	padding: rem(32);
	background-color: #f9fafb;
	height: 100%;
	color: #d68843;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__title {
		max-width: 58%;
		font-weight: 600;
		font-size: rem(18);
		line-height: calc(24 / 18);
	}
	.icon {
		font-size: rem(8);
		stroke: currentColor;
	}
}

.publ-item {
	@include media-breakpoint-up(md) {
		width: rem(268);
		max-width: rem(268);
		margin-bottom: rem(50);
		&:nth-child(odd) {
			padding-top: rem(84);
		}
		&:nth-child(even){
			padding-bottom: rem(84);
		}
	}
	margin-bottom: rem(32);
	width: rem(304);
	max-width: calc(100vw - rem(56));
	&__date {
		color: $secondary;
		font-weight: 300;
		font-size: rem(13);
		line-height: calc(16 / 13);
		margin-bottom: rem(16);
	}
	picture {
		img {
			max-width: 100%;
			max-height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
		}
		filter: saturate(0);
		&:hover {
			filter: saturate(1);
		}
		transition-duration: 0.4s;
		@include block(267,333);
		margin-bottom: rem(16);
	}
	&__caption {
		letter-spacing: rem(1px);
		text-transform: uppercase;
		font-weight: 500;
		font-size: rem(12);
		line-height: calc(16 / 12);
		color: #08080b;
	}
	.end-news-card {
		// aspect-ratio: 267/333;
		@include block(267,333);
		&__wrap{
			padding: rem(32);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex !important;
			flex-direction: column;
			justify-content: space-between;
		}
		
	}
}
