// start .sNews
.sNews {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	@include media-breakpoint-down(md) {
		&__slider{
			overflow: visible;
		}
	}
	&__slide{
		height: auto;
		@include media-breakpoint-up(md) {
			--y: #{rem(76)};
		}
		margin-bottom: var(--y, 40px);
		@include media-breakpoint-down(md) {
			width: 90%;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sNews


.new-item{
	height: 100%;
	display: flex;
	flex-direction: column;
	&:not(:hover){
		color: $body-color;
	}
	&__img-wrap{
		@extend .ratio;
		--bs-aspect-ratio: calc(202 / 340 * 100%);
		margin-top: auto;
		margin-bottom: rem(24);
	}
	&__text,
	&__date{
		color: $secondary;
		font-weight: 300;
		font-size: 13px;
		line-height: calc( 16 / 13);
	} 
	&__text{
		margin-bottom: rem(24);
	}
	&__title{
		font-weight: 600;
		margin-bottom: rem(8);
	}
}