mixin sExpert(data)
	// start sExpert
	+b.SECTION.sExpert.section#sExpert&attributes(attributes)
		.container
			mixin title()
				+e.slide--title
					h2 Признание экспертного сообщества&nbsp;SAP
					h6 Ежегодно мы&nbsp;заявляем на&nbsp;конкурс SAP Quality Aword выполненные нами проекты, которые обеспечили заказчикам значительные преимущества на&nbsp;рынке за&nbsp;счет повышения эффективности бизнес-процессов
			//- .d-md-none 
			+title()
			+e.slider-wrap
				+e.slider--js.swiper
					.swiper-wrapper
						+title()
						+e.slide.swiper-slide: +e.item
							+e.year 2021 г.
							+e.logo
								img(src="img/svg/expert-logo-1.svg", alt="")
							+e.type--winner
								+icon('cup')
								span Призёр, Цифровая эволюция
							+e.title-project Проект
							+e.project-name Разработка и&nbsp;внедрение системы бюджетирования
							+e.link(href="#")
								span О проекте
								+icon('chevron-right')
						+e.slide.swiper-slide: +e.item
							+e.year 2020 г.
							+e.logo
								img(src="img/svg/expert-logo-2.svg", alt="")
							+e.type--gold
								+icon('medal')
								span Золото, Быстрый результат
							+e.title-project Проект
							+e.project-name Разработка и&nbsp;внедрение системы бюджетирования
							+e.link(href="#")
								span О проекте
								+icon('chevron-right')
						+e.slide.swiper-slide: +e.item
							+e.year 2020 г.
							+e.logo
								img(src="img/svg/expert-logo-1.svg", alt="")
							+e.type--silver
								+icon('medal')
								span Серебро, Передовые технологии
							+e.title-project Проект
							+e.project-name Разработка и&nbsp;внедрение системы бюджетирования
							+e.link(href="#")
								span О проекте
								+icon('chevron-right')
						+e.slide.swiper-slide: +e.item
							+e.year 2019 г.
							+e.logo
								img(src="img/svg/expert-logo-2.svg", alt="")
							+e.type--bronze
								+icon('medal')
								span Бронза, Проекты SuccessFactors
							+e.title-project Проект
							+e.project-name Разработка и&nbsp;внедрение системы бюджетирования
							+e.link(href="#")
								span О проекте
								+icon('chevron-right')
						+e.slide.swiper-slide: +e.item
							+e.year 2019 г.
							+e.logo
								img(src="img/svg/expert-logo-2.svg", alt="")
							+e.type--bronze
								+icon('medal')
								span Бронза, Проекты SuccessFactors
							+e.title-project Проект
							+e.project-name Разработка и&nbsp;внедрение системы бюджетирования
							+e.link(href="#")
								span О проекте
								+icon('chevron-right')
						+e.slide.swiper-slide: +e.item
							+e.year 2018 г.
							+e.logo
								img(src="img/svg/expert-logo-2.svg", alt="")
							+e.type--bronze
								+icon('medal')
								span Бронза, Проекты SuccessFactors
							+e.title-project Проект
							+e.project-name Разработка и&nbsp;внедрение системы бюджетирования
							+e.link(href="#")
								span О проекте
								+icon('chevron-right')
						- for (var x = 0; x < 6; x++)
							+e.slide.swiper-slide: +e.item
								+e.year 2018 г.
								+e.logo
									img(src="img/svg/expert-logo-2.svg", alt="")
								+e.type--bronze
									+icon('medal')
									span Бронза, Проекты SuccessFactors
								+e.title-project Проект
								+e.project-name Разработка и&nbsp;внедрение системы бюджетирования
								+e.link(href="#")
									span О проекте
									+icon('chevron-right')
			+e.slider-pagination-wrap
				+e.slider-pagination--js.swiper
					.swiper-wrapper
						+e.pagination-item.swiper-slide
							+e.pagination-title 2021 г.
						+e.pagination-item.swiper-slide
							+e.pagination-title 2020 г.
						+e.pagination-item.swiper-slide
							+e.pagination-title 2020 г.
						+e.pagination-item.swiper-slide
							+e.pagination-title 2019 г.
						+e.pagination-item.swiper-slide
							+e.pagination-title 2018 г.
						+e.pagination-item.swiper-slide
							+e.pagination-title 2018 г.
						- for (var x = 0; x < 6; x++)
							+e.pagination-item.swiper-slide
								+e.pagination-title 2018 г.
	// end sExpert