// start .sExpert
.sExpert {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	--slTitleW: #{rem(388)};
	--slPT: #{ rem(105)};
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide-global {
		width: auto;
	}
	&__slider-wrap{
		position: relative;
	}
	&__slider {
		overflow: visible;
		margin-left: 0;
		max-width: calc(100% - #{rem(30)});
		@include media-breakpoint-up(md) {
			margin-left: calc(var(--slTitleW) + 30px);
			// width: calc(rem(348) + 24px); 
			max-width: 100%;
			max-width: rem(348);
		}
		.swiper-wrapper{
			@include media-breakpoint-up(md) { 
				padding-top: var(--slPT);
			}
		}
	}
	h2 {
		text-transform: uppercase;
		margin-bottom: 0;
	}
	h6 {
		color: #7e7d85;
		font-size: rem(16);
		line-height: calc(24 / 18);
		font-weight: 300;
		margin-top: rem(18);
		margin-bottom: 0;
	}

	&__slide{
		width:  rem(392);
		height: auto;
		&--title {
			margin-bottom: 30px;
			// width: calc(var(--c-g) + rem(388)) !important;
			@include media-breakpoint-up(md) {

			}
			@include media-breakpoint-up(md) {
				position: absolute;
				top: 0;
				left: calc(-1 * (var(--slTitleW) + 30px));
				width: var(--slTitleW) ;
			}
			background-color: transparent;
			padding: 0;
			// padding-left: var(--c-g);
			height: auto;
			@include media-breakpoint-up(xxl) {
				margin-right: rem(120) !important;
			}
			@include media-breakpoint-up(md) {
				transform: translateY(0) !important;
			}
			margin-right: rem(60) !important;
		}
		&.swiper-slide-active {
			@include media-breakpoint-up(md) {
				.sExpert__item{

					transform: translateY(rem(-105)) !important;
				}
				&:not(:first-child){
				}
			}
		}
	}
	&__item {
		@include media-breakpoint-up(md) {
			
			
		}
		position: relative;
		transition-duration: 0.4s;
		width: 100%;
		background-color: #141317;
		padding: rem(24);
		height: 100%;
		min-height:  rem(392);
		display: flex;
		flex-direction: column;
	

	}
	&__year {
		color: #acb4c0;
		font-weight: 300;
		font-size: rem(18);
		line-height: calc(24 / 18);
		margin-bottom: rem(8);
	}
	&__logo {
		height: rem(64);
		padding-top: rem(10);
		padding-bottom: rem(10);
		margin-bottom: rem(8);
	}
	&__type {
		.icon {
			font-size: rem(24);
			margin-right: rem(8);
			// color: transparent;
			fill: none;
			stroke: currentColor;
		}
		font-weight: 300;
		font-size: rem(18);
		line-height: calc(24 / 18);
		margin-bottom: rem(8);
		color: var(--color);
		&--winner { 
			--color: #47a180;
		}
		&--gold { 
			--color: #d3a244;
		}
		&--silver { 
			--color: #a5a4a9;
		}
		&--bronze { 
			--color: #5a513b;
		}
	}
	&__title-project {
		margin-top: auto;
		font-weight: 300;
		font-size: rem(13);
		line-height: calc(16 / 13);
		margin-bottom: rem(8);
	}
	&__project-name {
		font-weight: 300;
		font-size: rem(18);
		line-height: calc(24 / 18);
		max-height: rem(120);
		// display: -webkit-box;
		// -webkit-box-orient: vertical;
		// -moz-box-orient: vertical;
		// -ms-box-orient: vertical;
		// box-orient: vertical;
		// -webkit-line-clamp: 5;
		// -moz-line-clamp: 5;
		// -ms-line-clamp: 5;
		// line-clamp: 5;
		overflow: hidden;
		margin-bottom: rem(24);
	}
	&__link {
		font-weight: 300;
		font-size: rem(13);
		line-height: calc(16 / 13);
		span {
			margin-right: rem(8);
		}
		.icon {
			font-size: rem(13);
		}
	}
	&__slider-pagination-wrap{
		margin-top: rem(60);
		
		z-index: 2;
		position: relative;
		
	}
	&__slider-pagination {
		@include media-breakpoint-up(md) {
			--sp: -3.4%;
			margin-left: var(--sp);
			margin-right: var(--sp);
			padding-bottom: rem(20);
		}
		.swiper-wrapper {
			@include media-breakpoint-up(md) {
				// flex-wrap: nowrap;
				// justify-content: space-between;
			
			}
			position: relative;
			
		}
	} 
	&__pagination-item {
		cursor: pointer;
		// flex-grow: 1;
		width: auto;
		--color: #7e7d85;
		position: relative;
		padding-bottom: rem(11);
		text-align: center;
		&:not(:last-child) {
			&:after {
				content: "";
				z-index: -1;
				position: absolute; 
				// bottom: rem(19); 
				top: 100%;
				@include media-breakpoint-up(md) {
					
				} 
				// width: calc(100% );
				// width: calc((100vw - var(--c-g) * 2 ) / 6  + #{rem(14px)} );
				left: 50%;
				// transform: translateX(-50%);
				// width: calc(100% - rem(130));
				width: 100%;
				// width: calc(100% + rem(164));
				height: .06rem;
				background-image: url("../img/svg/border-bg.svg");
				background-repeat: repeat-x;
			}
		}
		&.swiper-slide-thumb-active,
		&:hover {
			--color:#{$primary};
			&::before {
				background-color: $primary;
			}
		}
		@include media-breakpoint-up(md) {
			// width: rem(64);
			width: calc(100% / 6);
		}
		width: rem(180);
		&:not(:last-child) {
		}
		&::before {
			content: "";
			position: absolute;
			width: rem(8px);
			height: rem(8px);
			background-color: $white;
			border-radius: 50%;
			top: calc(100% - rem(4));
			transition-duration: 0.4s;
			@include media-breakpoint-up(md) {
				left: 50%;
				transform: translateX(-100%);
			}
			left: rem(20);
		}

		&:not(:last-child):after {
			// @include media-breakpoint-down(md) {
			// 	content: "";
			// 	position: absolute;
			// 	// border-top: 1px dotted $white; 
			// 	top: 100%;
			// 	// top: calc(100% - #{rem(20)});
			// 	left: rem(32);

			// 	width: calc((100vw - var(--c-g) * 2 ) / 6  + #{rem(14px)} );
			// 	width: calc(100% );
			// 	// width: calc(100% - rem(64));
			// 	// width: calc(100% + rem(164));
			// 	height: .06rem;
			// 	background-image: url("../img/svg/border-bg.svg");
			// 	background-repeat: repeat-x;
			// } 
		}
	}
	&__pagination-title {
		font-weight: 600;
		font-size: rem(18);
		line-height: calc(24 / 18);
		color: var(--color);
		transition-duration: 0.4s;
	}
	&__slide--title{
		@include media-breakpoint-up(md) {
			display: none;
		}
	}
	.swiper-wrapper &__slide--title{
		@include media-breakpoint-up(md) {
			display: block;
		}
		display: none;
	}

	&__slider-pagination{
		overflow: visible;
		@include media-breakpoint-down(md){
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sExpert
