// start .sValueProposition
.sValueProposition {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	--sTPB: #{rem(60)};
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	h2 {
		text-transform: uppercase;
		margin-bottom: 0;
	}
	&__col {
	}
	&__item {
	}
	picture {
		img {
			width: 100%;
			max-width: 100%;
			filter:saturate(0);
			@include mt;
		}

		margin-bottom: rem(16);
	}
	&__slide {
		line-height: calc(24 / 18);
		@include media-breakpoint-up(md) {
			max-width: calc(33.333% - 46px);
			width: calc(33.333% - 46px);
		}
		width: calc(100%);
		max-width: calc(100%);
		&:hover{
			.sValueProposition__slide-title{
				color: $primary;
			}
			img{
				filter:saturate(1);
			}
		}
	}

	&__slide-title {
		margin-bottom: rem(8);
		font-weight: 600; 
		@include mt;
	}
	&__slide-caption {
		font-weight: 300; 
	}
	.swiper-scrollbar{
		position: relative;
		@include media-breakpoint-up(md){
			display: none;
		}
		margin-top: rem(32);
	}
	&__slider{
		@include media-breakpoint-down(md){
			overflow: visible;
			width: calc(100% - 16px);
			margin-left: 0;
		}
	}
	
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sValueProposition
