// start .sCenterCount
.sCenterCount {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	position: relative;
	&__row {
		--bs-gutter-x: #{rem(12)};
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
		margin-bottom: rem(12);
		// --bs-gutter-y: #{rem()};
	}
	position: relative;
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__wrap {
		display: flex;
		position: relative;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			flex-wrap: wrap;
			gap: rem(140) rem(240);
			justify-content: space-between;
		}
		@include media-breakpoint-up(xxl) {
			gap: rem(180) rem(380);
		}
		flex-direction: column;
	}
	h2 {
		text-transform: uppercase;
		@include media-breakpoint-up(lg) {
			font-size: rem(30);
		}
		font-size: rem(25);
	}
	&__item {
		position: relative;
		@include media-breakpoint-up(xxl) {
			width: calc(50% - rem(280));
			max-width: calc(50% - rem(280));
		}
		@include media-breakpoint-up(lg) {
			width: calc(50% - rem(210));
			max-width: calc(50% - rem(210));
			margin-bottom: 0;
		}
		&::after {
			content: "";
			position: absolute;
			width: 105%;
			height: rem(50);
			background-color: transparent;
			border-bottom: 1px solid #525254;
			left: 5%;
			@include media-breakpoint-up(lg) {
				top: rem(16);
			}
			// top: rem(70);
			transform: skew(-40deg);
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
		&--down-left {
			&::after {
				border-right: 1px solid #525254;
			}
		}
		&--up-right {
			&::after {
				border-top: 1px solid #525254;
				border-left: 1px solid #525254;
				border-bottom: none;
				left: auto;
				right: 5%;
				@include media-breakpoint-up(lg) {
					top: rem(60);
				}
				// top: rem(120);
			}
		}
		&--down-right {
			&::after {
				border-left: 1px solid #525254;
				left: auto;
				right: 5%;
				transform: skew(40deg);
			}
		}
		margin-bottom: rem(48);
		// &:last-child {
		// 	margin-bottom: 0;
		// }
		&--order {
			@include media-breakpoint-up(lg) {
				order: -1;
			}
		}
		&--order-mob {
			@include media-breakpoint-down(lg) {
				order: -1;
			}
		}
		&:hover {
			.sCenterCount__item-caption {
				color: $white;
			}
		}
	}
	&__item-number {
		font-size: rem(40);
		line-height: 100%;
	}
	&__item-title {
		@include media-breakpoint-up(lg) {
			max-width: rem(150);
			text-align: left;
		}
		text-align: right;
		@include media-breakpoint-down(lg) {
			padding-left: rem(10);
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 100%;
			font-weight: 400;
			color: $white;
			font-size: rem(16);
		}
		font-weight: 300;
		font-size: rem(14);
		color: #c9cad1;
		line-height: calc(24 / 16);
	}
	&__progress-bar {
		@include media-breakpoint-up(lg) {
			display: none;
		}
		width: 100%;
		--witdh: 0;
		height: 2px;
		margin-bottom: rem(8);
		background-color: #7e7d85;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: var(--width);
			height: 100%;
			z-index: 1;
			background-color: #d68843;
		}
	}
	&__item-caption {
		color: #7e7d85;
		font-size: rem(13);
		line-height: calc(16 / 13);
		font-weight: 300;
		transition-duration: 0.4s;
	}
	.title-block {
		pointer-events: none;
		order: -1;
		&::after {
			display: none !important;
		}
	}
	&__canvas-wrap {
		position: absolute;
		@include media-breakpoint-up(lg) {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(30deg);
			width: rem(240) !important;
			height: rem(240) !important;
		}
		@include media-breakpoint-up(xxl) {
			width: rem(380) !important;
			height: rem(380) !important;
		}
	}
	canvas {
		// position: absolute;
		// @include media-breakpoint-up(md){
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%,-50%);
		// 	// width: rem(240) !important;
		// 	// height: rem(240) !important;
		// }
		// @include media-breakpoint-up(xxl){

		// }
		@include media-breakpoint-down(lg) {
			display: none !important;
		}
	}
	&__item-inner.hover {
		.sCenterCount__item-caption {
			color: $white;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCenterCount
