mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		
		+blur()
		.container
			+e.inner
				h1 Открываем для компаний #[span новые возможности] в&nbsp;проектах цифровой&nbsp;трансформации
				p Разрабатываем и&nbsp;внедряем комплексные IT-решения  в&nbsp;области управления ресурсами предприятия
	// end headerBlock


mixin headerBlockBody(name,title,caption,right)
	// start headerBlock
	+b.headerBlock.bg-wrap.section#headerBlock&attributes(attributes)
		if right
			+blur().animate-blur--right 
		else
			+blur()
		+e.bg.picture-bg
			img(src=`img/headerBlock${name}-bg.jpg`, alt="")
		+e.bg--mob.picture-bg
			img(src=`img/headerBlock${name}-bg-mob.jpg`, alt="")
		.container
			+e.inner
				h1!=title
				p!=caption
	// end headerBlock

