// start .headerBlock
.headerBlock {
	min-height: 100vh;
	// background-color: #000000;
	position: relative;
	z-index: 2;
	display: flex;
	// overflow: hidden;
	@include media-breakpoint-up(md) {
		align-items: center;
	}
	align-items: flex-end;
	color: #fff;
	h1 {
		span {
			color: $primary;
		}
	}
	p {
		opacity: 0.5;
	}
	&__inner {
		margin-left: auto;
		max-width: rem(510px);
	}
	video {
		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
		width: 100% !important;
		height: 100% !important;
		z-index: -1;
	}
	z-index: 2;
	.animate-blur {
		pointer-events: none;
		position: absolute;
		z-index: -1;
		@include media-breakpoint-up(md) {
			width: rem(1940);
			top: 30%;
			bottom: auto;
		}
		bottom: 30%;
		width: rem(900);
		right: 40%;
		&--right {
			right: auto;
			left: 40%;
		}
	}
	&__bg {
		pointer-events: none;
		img {
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
		}
		@include media-breakpoint-down(lg) {
			display: none;
		}
		&--mob {
			@include media-breakpoint-down(lg) {
				display: block;
			}
			display: none;
		}
	}
	&.bg-wrap {
		.animate-blur {
			z-index: 0;
		}
	}
	&--artical {
		padding-top: rem(48);
		padding-bottom: rem(24);
		height: auto;
		min-height: auto;
		background-color: #fff;
		justify-content: center;
		@include media-breakpoint-up(lg) {
			padding: 0 rem(16);
		}
		@include media-breakpoint-up(md) {
			padding-top: 48px;
			height: 100vh;
		}
		@include media-breakpoint-up(lg) {
			padding-top: 47px;
			padding-bottom: 0;
		}
		@include media-breakpoint-up(xl) {
			padding-top: 57px;
		}
	}
	&__row {
		--bs-gutter-x: 0;
		min-height: calc(100vh - 48px);
		@include media-breakpoint-up(xl) {
			min-height: calc(100vh - 56px);
		}
		@include media-breakpoint-down(md) {
			min-height: auto;
		}
	}
	&__col {
		padding: rem(24) rem(48);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include media-breakpoint-down(md) {
			padding-right: rem(16);
			padding-left: rem(16);
		}
	}
	&__img-wrap {
		@include block(328,328);
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		@include media-breakpoint-down(md) {
			margin: rem(16);
		}
		@include media-breakpoint-up(sm) {
			--ratio: 151/328;
		}
		@include media-breakpoint-up(md) {
			height: 100%;
			--ratio: 624/623;
		}
	}
	&__back {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(13);
		color: #fff;
		font-weight: 300;
		.icon {
			font-size: rem(16);
			color: #fff;
			flex: 0 0 auto;
			margin-right: 8px;
		}
		@include media-breakpoint-down(md) {
			position: absolute;
			width: 100%;
			height: rem(48);
			background-color: #fff;
			color: #08080B;
			top: rem(-48);
			left: 0;
			.icon {
				color: #08080B;

			}
		}
	}
	&__content {
		.h6 {
			margin-bottom: rem(16);
		}
		h1 {
			margin-bottom: rem(32);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(40);
			}
		}
		p {
			margin-bottom: rem(16);
			color: #fff;
		}
		a {
			width: 100%;
			@include media-breakpoint-up(md) {
				max-width: rem(219);
			}
		}
		&--2 {
			h1 {
				margin-bottom: rem(16);
				@include media-breakpoint-up(md) {
					margin-bottom: rem(16);
				}
			}
			p {
				opacity: 1;
				font-weight: 300;
				font-size: rem(18);
			}
		}
		&--3 {
			margin-top: auto;
			img {
				margin-bottom: rem(54);
			}
			.h6 {
				margin-bottom: rem(10);
				font-weight: 600;
				text-transform: uppercase;
			}
			h1 {
				margin-bottom: rem(21);
			}
			a {
				width: 100%;
				@include media-breakpoint-up(md) {
					max-width: rem(279);
				}
			}
		}
		
	}
	&__desc {
		margin-top: rem(32);
		font-weight: 300;
		font-size: rem(13);
		margin-bottom: rem(16);
		@include media-breakpoint-up(md) {
			margin-top: auto;
		}
	}
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: 16px 8px;
		margin-left: rem(16);
		@include media-breakpoint-up(md) {
			justify-content: center;
			margin-left: 0;
		}
		a {
			font-size: rem(10);
			font-weight: 300;
			padding: 1px 7.5px;
			border: 0.5px solid $primary;
			border-radius: 35px;
			
			// &:not(:last-child) {
			// 	margin-right: 8px;
			// }
		}
	}
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

// end.headerBlock
