mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		
		.animate-blur
			img(src="img/@2x/webp/animate-blur.webp", alt="")
		.container
			+e.inner
				h1 Открываем для компаний #[span новые возможности] в&nbsp;проектах цифровой&nbsp;трансформации
				p Разрабатываем и&nbsp;внедряем комплексные IT-решения  в&nbsp;области управления ресурсами предприятия
	// end headerBlock

mixin headerBlockAbout()
	// start headerBlock
	+b.headerBlock.bg-wrap.section#headerBlock&attributes(attributes)
		.animate-blur.animate-blur--right
			img(src="img/@2x/webp/animate-blur.webp", alt="")
		+e.bg.picture-bg
			img(src="img/headerBlockAbout-bg.jpg", alt="")
		+e.bg--mob.picture-bg
			img(src="img/headerBlockAbout-bg-mob.jpg", alt="")
		.container
			+e.inner
				h1 О нас
				p Группа компаний САПРАН специализируется на&nbsp;внедрении ИТ-решений для бизнеса на&nbsp;платформе SAP
	// end headerBlock

mixin headerBlockStatus()
	// start headerBlock
	+b.headerBlock.bg-wrap.section#headerBlock&attributes(attributes)
		.animate-blur
			img(src="img/@2x/webp/animate-blur.webp", alt="")
		+e.bg.picture-bg
			img(src="img/headerBlockStatus-bg.jpg", alt="")
		+e.bg--mob.picture-bg
			img(src="img/headerBlockStatus-bg-mob.jpg", alt="")
		.container
			+e.inner
				h1 Статусы и награды 
				p Входим в&nbsp;TOP-10 крупнейших поставщиков BI-решений в&nbsp;России 2020, в&nbsp;TOP-5 аутсорсеров поддержки решений SAP в&nbsp;России по&nbsp;версии аналитического центра TAdviser
	// end headerBlock