extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sContent/_sContent.pug
 
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sAboutPerson/_sAboutPerson.pug
include ../blocks/sAboutCaption/_sAboutCaption.pug
include ../blocks/sStatus/_sStatus.pug
include ../blocks/sTrust/_sTrust.pug
include ../blocks/sJoin/_sJoin.pug 
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= '' 
	- let  bg= null

block title
	- let  title= 'О нас'
	title= title
block pagecontent
	+mob-mnu()
	video(preload='auto' autoplay='autoplay' loop='loop' playsinline='playsinline' muted='muted' poster='img/poster.webp').bg-video
			source(src='video/video.webm' type='video/webm')
			source(src='video/video.mp4' type='video/mp4')
	
	+top-nav()
	+headerBlockBody('About',`О нас`,`Группа компаний САПРАН специализируется на&nbsp;внедрении ИТ-решений для бизнеса на&nbsp;платформе SAP`,'right').bg-dark.section--vh
	+sAboutPerson.bg-white.section--vh
	+sAboutCaption.bg-white.section--vh
	+sStatus.bg-white.section--vh
	//- +sNews.bg-white.section--vh
	//- +sEvents.bg-dark.section--vh
	//- +sWays.bg-white.section--vh
	//- +sTrust.bg-dark.section--vh
	//- +sJoin.bg-white
	+sForm().bg-dark.section--vh
	+footer().bg-dark
      



