extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sService/_sService.pug
 
//- include ../blocks/sContact/_sContact.pug 
include ../blocks/sValueProposition/_sValueProposition.pug
include ../blocks/sNumericalIndicators/_sNumericalIndicators.pug
include ../blocks/sStatus/_sStatus.pug
include ../blocks/sPrinciples/_sPrinciples.pug
include ../blocks/sWorkConditions/_sWorkConditions.pug
include ../blocks/sJoin/_sJoin.pug 
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage=  null
	- let  bg= null

block title
	- let  title= 'Работа в SAPRUN'
	title= title
block pagecontent
	+mob-mnu()
	//- video(preload='auto' autoplay='autoplay' loop='loop' playsinline='playsinline' muted='muted' poster='img/poster.webp').bg-video
	//- 		source(src='video/video.webm' type='video/webm')
	//- 		source(src='video/video.mp4' type='video/mp4')
	
	+top-nav()
	//- +headerBlockBody('Work',`Работа в SAPRUN`,`В&nbsp;SAPRUN мы&nbsp;создаем успешный бизнес, в&nbsp;котором всем нам комфортно и&nbsp;интересно работать. Бизнес, в&nbsp;котором отношения строятся на&nbsp;доверии, взаимовыгодном, доброжелательном и&nbsp;долгосрочном сотрудничестве.<br>Наша цель&nbsp;&mdash; максимально реализовать потенциал клиентов и&nbsp;сотрудников.`,'right').bg-dark.section--vh
	//- +sValueProposition.bg-white.section--vh
	//- +sNumericalIndicators.bg-dark.section--vh
	//- +sPrinciples.bg-white.section--vh
	//- +sWorkConditions.bg-dark.section--vh
	//- +sStatus.bg-white.section--vh
	+headerArtical('Вернуться в пресс-центр', 'article-img-1.jpg', '#жизнь компании', '#новости команды').bg-dark
		+headerArtical-content('first')
	+sContent2().bg-white.section--vh
	+sService2().bg-white
		+sService2Item('12 сентября 2022','Quisque ut consectetur risus, in rhoncus urna. Aenean pellentesque, velit id suscipit pharetra, tortor est egestas dolor, non congue sem nunc quis leo.', '')
		+sService2Item('6 сентября 2022','Nam non aliquam magna. Etiam et consectetur purus posuere tempor massa. Vestibulum viverra luctus posuere.', 'true')
	+footer().bg-dark
      



