mixin s404(data)
	// start s404
	+b.SECTION.s404.section#s404&attributes(attributes)
		h1 404
		+e.text
			p Страница не найдена. Она не существовала или срок публикации истёк.
			a(href="#").btn На главную
	// end s404