.menu{
	left: 0; 
	

	a{
		padding: rem(8) rem(24);
		padding-right: rem(40);
		display: block;
		color: #fff;
	}

		a{
			&:hover{

				color: $primary;
			--bg: var(--chevron-r-primary);
			}
		}
	}

	.sub-menu-wrap{ 
		// &:not(.active) { 
			position: fixed;
			opacity: 0;
			transform: translateX(-100%) scaleX(.9);
			visibility: hidden;
			will-change: transform;
			@include mt;
			transform-origin: left;
			@include media-breakpoint-down(lg) {
				.menu-item-has-children{
					position: relative;
					--t: #{rem(10)};
					--l: #{rem(17)};
					&::before{
						content: '';
						position: absolute;
						top: var(--t);
						left: var(--l);
						width: rem(22);
						height: rem(22);
						background-color: $primary;
						border-radius: 50%;
					}
				}
				.menu-item-has-children> a{
					padding-left: rem(52);

					padding-right: rem(20);
					background: none;
					&::after,
					&::before{
						content: '';
						position: absolute;
						top: calc(var(--t)  + #{rem(10.5)});
						left: calc(var(--l)  + #{rem(5)});
						width: rem(12);
						height: rem(1);
						background-color: #000;
					}
					&::after{
						transform: rotate(var(--rotate, 90deg));
					}
				}
				.sub-menu-wrap{
					transform-origin: top;
					position: relative;
					transform: scaleY(.8);
					display: none;
					height: auto;
					padding-left: rem(26);
					.sub-menu{
						height: auto;
						min-height: 1px;
						padding-top: 0;
						padding-bottom: 10px;
						padding-top: 5px;
					}
				}
			}
			@include media-breakpoint-up(lg) {
				border-left: 1px solid #525456;
				z-index: -1;
				left:100%; 
			}
			left: 0;
			width: 100%;
			top: 0;
			// }
			// transform: scaleX(0);
			ul{
				// z-index: -2;
				// left: calc(var(--menu-w) * 2);
				
			}
		}
	.menu-item-has-children.active
	.menu-item-has-children.active{
		@include media-breakpoint-down(lg) {
			.sub-menu-wrap{ 
				transform: scaleY(1);
				display: block;
			}
		}
	}
	.menu-item-has-children.active{
		--rotate: 0;
		// z-index: 2;
		&> a{
			color: $primary;
		--bg: var(--chevron-r-primary);
		}
		&>.sub-menu-wrap{
		visibility: visible;
		opacity: 1;
		transform: translateX(0) scaleX(1);

	}
}
.menu-item-has-children > a{
	background-image: var(--bg, var(--chevron-r));
	background-size: rem(16);
	background-repeat: no-repeat;
	background-position: calc(100% - #{rem(25)}) rem(14);
} 
.menu-item-title{
	color: $primary;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 1px;
	padding-left: 14px;
}
.menu-item-back{
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	font-size: 12px;
	padding: 16px 12px;
	.icon{
		font-size: 16px;
		margin-right: 4px;
		position: relative;
		top: rem(-2);
	}
}

.toggle-menu-mobile {
	--h: 1px;
	--color: var(--top-nav-color, #fff);
	--position: calc(var(--h) * 5);
	will-change: transform;


	&.on span {
		background: transparent;
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: block;
	width: rem(48px);
	height: rem(48px);
	position: relative; 
	font-size: 1rem; 
	cursor: pointer;
	background: rgba(255, 255, 255, .2);
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
		@include a-cent();
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}
// @include media-breakpoint-down(lg) {

	

	.menu-mobile {
		position: fixed !important;
		@include media-breakpoint-up(lg) {
			z-index: 999; 
		}
		z-index: 1200; 
		
		top: 0;
		left: 0;
		will-change: transform;
		width: var(--menu-w);
		// right: 0;
		
		&:not(.active){
			
			@include media-breakpoint-up(lg) {
			transform: translate3d(-120%, 0,0);
		}
		transform: translate3d( 0,100%,0);
		--opacity: 0;
		.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;

		
		.toggle-menu-mobile {  
			@include media-breakpoint-down(lg) {

				position: absolute; 
				right: 0;
				// color: #FFF;
			}
			top: 0;
			z-index: 9999; 
			span:after,
			span:before {
				--color: #ffffff;
			}
		}
		&__inner {
			// padding: rem(20) 0;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			@include media-breakpoint-up(lg){
				@include mt(.3s);
				transition-delay: .4s;

				opacity: var(--opacity);
			}
			
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		} 


		ul{
			
			
			padding-top: rem(56);
			list-style: none;
			height: calc(var(--vh, 1vh) * 100);
			margin-bottom: 0;
			
			

			overflow-y: auto;
			&:not(.menu) {

				// position: relative;
			}
			// overflow-y: auto;
			
			background: #0A0B0F;
			// height: 100%; 
			
		}
		.top-nav{
			top: 0;
			bottom: auto;
		}
	}
// }