.top-nav {
	position: fixed;
	width: 100%;
	left: 0;
	@include mt;
	&:not(.top-nav--dark) {
		
	}

	@include media-breakpoint-down(md) {
		bottom: 0;
	}
	@include media-breakpoint-up(md) {

		top: 0;
	}
	z-index: 1000;
	color: var(--top-nav-color, #fff);
	&__logo{
		[fill="white"]{
			fill:  var(--top-nav-color, #fff) !important;
		}
	}
	&__lang{
		font-size: rem(14);
	}
	.row{
		align-items: center;
		--bs-gutter-x: #{rem(17)};
	}

	&--light{
		background-color: #fff;
		--top-nav-color: #020407;
		// background-color: #000;
	}
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


.btn-search {
	.icon{
		font-size: rem(24);
	}
	padding-right: rem(16);
}