mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu() 
	+b.menu-mobile--js
		+b.top-nav 
			.row 
				.col-auto
					+menu-toggle()
				.col.d-none.d-lg-block
					+e.logo(href="/")
						//- img(src="img/svg/logo.svg", alt="") 
						include logo.svg
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.fixed
		.row
			.col-auto
				+menu-toggle()
			.col
				+e.logo(href="/")
					//- img(src="img/svg/logo.svg", alt="") 
					include logo.svg
			.col-auto
				+e.lang Eng
			.col-auto
				+b.btn-search 
					+icon("search")
	// end top-nav