mixin sTrust(data)
	// start sTrust
	+b.SECTION.sTrust.section#sTrust&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Нам доверяют
			.tabs
				
				.tabs__caption.swiper-wrapper
					.tabs__btn.swiper-slide.active  InfinBANK
					.tabs__btn.swiper-slide Транснефть
					.tabs__btn.swiper-slide Пулково
					.tabs__btn.swiper-slide СберБанк
				.tabs__caption
			.row
				
	// end sTrust