mixin sOpportunities(data)
	// start sOpportunities
	+b.sOpportunities.section#sOpportunities&attributes(attributes)
		.container
			.row
				.col-md-4
					h2 Возможности предоставления сервиса
					h6 Гибкие условия оказания услуг в зависимости от потребностей заказчика
				.col-md-4
					+sAboutCaptionItem(`sPrinciples-1`,`Поддержка пользователей по&nbsp;модулям SAP в&nbsp;соответствии с&nbsp;SLA`,``)
				.col-md-4
					+sAboutCaptionItem(`integration`,`Миграция и&nbsp;интеграция с&nbsp;существующими системами`,``)
				.col-md-4
					+sAboutCaptionItem(`service`,`Техническая поддержка`,`Администрирование ОС, СУБД и&nbsp;SAP-Basis, выполнение регламентных работ и&nbsp;мониторинга`)
				.col-md-4
					+sAboutCaptionItem(`time`,`Режим работы`,`8&times;5, 12&times;5, 24&times;7, 24&times;7&nbsp;on demand, специальные режимы работы (часовые пояса от&nbsp;UTC+12 до&nbsp;UTC+3, включая UTC+5)`)
				.col-md-4
					+sAboutCaptionItem(`hosting`,`Услуги хостинга`,``)
	// end sOpportunities

mixin sOpportunities2(data)
	// start sOpportunities
	+b.sOpportunities.section#sOpportunities&attributes(attributes)
		.container
			.row
				.col-md-4
					h2 Что вы получите от стажировки
				.col-md-4
					+sAboutCaptionItem(`sOpportunities-img-1`,`Темп`,`Курсы соответствующие потребностям Вашего бизнеса`)
				.col-md-4
					+sAboutCaptionItem(`sOpportunities-img-2`,`Удобство`,`Разные виды обучения под руководством опытных преподавателей`)
				.col-md-4
					+sAboutCaptionItem(`sOpportunities-img-3`,`Возможности`,`Разные виды обучения под руководством опытных преподавателей`)
				.col-md-4
					+sAboutCaptionItem(`sOpportunities-img-4`,`Скорость`,`Оперативный доступ к&nbsp;обучению по&nbsp;новым продуктам SAP и&nbsp;поддержка от&nbsp;преподавателей`)
				.col-md-4
					+sAboutCaptionItem(`sOpportunities-img-5`,`Система скидок`,`Специальные цены при регистрации через Авторизованного партнера по&nbsp;обучению SAP`)
	// end sOpportunities