// start .sService
.sService {
	--sPT: #{rem(24)};
	--sPB: #{rem(16)};
	background-color: #eef0f3 !important;
	--sTPB: #{rem(24)};
	@include media-breakpoint-up(md) {
		--sTPB: #{rem(40)};
		--sPT: #{rem(40)};
		--sPB: #{rem(32)};
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	h2 {
		margin-bottom: 0;
		text-transform: unset;
	}
	&__item {
		position: relative;
		height: 100%;
		&::after {
			content: "";
			position: absolute;
			@include media-breakpoint-up(lg) {
				right: rem(-32);
			}
			@include media-breakpoint-up(md) {
				right: rem(-16);
				top: 0;
				width: 0;
				height: 100%;
				border-right: rem(1.5) solid #c9cad1;
			}
			@include media-breakpoint-down(md){
				left: 0;
				bottom: rem(-24);
				width: 100%;
				height: 0;
				border-top: rem(1.5) solid #c9cad1;
			}
		}
	}
	.col-md {
		&:last-child {
			.sService__item {
				&::after {
					display: none;
				}
			}
		}
	}
	&__title {
		font-weight: 500;
		text-transform: uppercase;
		font-size: rem(12);
		line-height: calc(16 / 12);
	}
	&__caption {
		margin-top: rem(8);
		font-size: rem(12);
		line-height: calc(16 / 12);
		font-weight: 300;
	}
	&__link {
		margin-top: rem(16);
		padding-top: rem(8);
		padding-bottom: rem(8);
		display: inline-block;
		span {
			font-size: rem(12);
			line-height: calc(16 / 12);
			font-weight: 300;
			margin-right: rem(8);
		}
		.icon {
			font-size: rem(6);
			stroke: currentColor;
		}
	}
	.row {
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(64)};
		}
		--bs-gutter-x: #{rem(32)};
		--bs-gutter-y: #{rem(56)};
	}
	&--2 {
		position: relative;
		.row {
			--bs-gutter-y: #{rem(33)};
		}
		.sService {
			&__item {
				display: block;
				color: #08080B;
				&:hover {
					color: $primary;
				}
				&--single {
					padding-bottom: rem(38px);
				}
			}
			&__caption {
				font-size: rem(18);
			}
			&__online {
				font-size: rem(13);
				font-weight: 300;
				text-transform: uppercase;
				margin-bottom: rem(6);
				padding-top: rem(6);
			}
			&__link {
				color: $primary;
				@include media-breakpoint-up(lg) {
					&--right {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						margin-top: 0;
						right: rem(-85px);
					}
					&--left {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						margin-top: 0;
						left: rem(-85px);
					}
				}
				&--single {
					position: absolute;
					bottom: 0;
					left: 0;
				}
				.icon {
					font-size: rem(7);
				}
			}
			&__subtext {
				font-size: rem(13);
				font-weight: 300;
				color: #7E7D85;
				padding-top: rem(8);
			}
		}
		img {
			display: block;
		}
	}
	&__img-wrap{
		// @include block(148, 48);
		display: flex;
		align-items: center;
		width: rem(148);
		max-height: rem(48);
		img{

			// position: absolute;
			width: 100%;
			max-height: 100%;
			flex-shrink: 0;
			// height: 100%;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sService
