mixin sService(data)
	// start sService
	+b.SECTION.sService.section#sService&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Услуги
			.row
				mixin item(title,caption)
					.col-md
						+e.item
							+e.title!=title
							+e.caption!=caption
							+e.link(href="#")
								span Подробнее
								+icon('arrow-right-link')
				+item('Заказная разработка для систем SAP','Автоматизация процессов регистрации, квалификации, сегментации, а&nbsp;также контроль эффективности поставщиков. Управление данными о&nbsp;поставщиках, их&nbsp;KPI, финансовой документацией, сертификатами и&nbsp;прочей информацией.')
				+item('Прикладная разработка','Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto aliquam tenetur accusamus! Illum quod eius praesentium quisquam quis totam corporis necessitatibus unde dolorum? Commodi, dolore!')
				//- +item('Прикладная и мобильная разработка','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima molestiae necessitatibus esse recusandae omnis odio nobis maxime eos nemo fugit mollitia beatae magnam enim expedita iusto repellendus non blanditiis, ullam et laudantium!')
	// end sService

mixin sService2Item(title,caption, right, img, subtext, single, online)
	.col-md(data-aos="fade-up" data-aos-delay="300")
		+e.item(href="#")&attributes(attributes)
			if right
				if single
					+e.link--single
						+icon('arrow-right-link')
				else
					+e.link--right
						+icon('arrow-right-link')
			else
				+e.link--left.d-none.d-md-inline-block
					+icon('arrow-left-link')
				+e.link--left.d-inline-block.d-md-none
					+icon('arrow-right-link')
			if img
				+img(`img/svg/${img}`)
			if title
				+e.title!=title
			if online
				+e.online online
			if caption
				+e.caption!=caption
			if subtext
				+e.subtext!= subtext
mixin sService2(data)
	// start sService
	+b.SECTION.sService--2.section#sService&attributes(attributes)
		.container.container--small
			.row
				block
				//- +item('12 сентября 2022','Quisque ut consectetur risus, in rhoncus urna. Aenean pellentesque, velit id suscipit pharetra, tortor est egestas dolor, non congue sem nunc quis leo.', '')
				//- +item('6 сентября 2022','Nam non aliquam magna. Etiam et consectetur purus posuere tempor massa. Vestibulum viverra luctus posuere.', 'true')
				//- +item('Прикладная и мобильная разработка','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima molestiae necessitatibus esse recusandae omnis odio nobis maxime eos nemo fugit mollitia beatae magnam enim expedita iusto repellendus non blanditiis, ullam et laudantium!')
	// end sService
	