mixin sAboutPerson(data)
	// start sAboutPerson
	+b.sAboutPerson.section#sAboutPerson&attributes(attributes)
		+e.img
			img(src="img/person-about.jpg", alt="")
		+e.text-block
			h2 Миссия и ценности
			+e.quote Стабильность в&nbsp;бизнесе и&nbsp;жизни не&nbsp;возможна без развития, движения вперёд. Бизнес наших клиентов постоянно меняется, и&nbsp;мы&nbsp;помогаем им&nbsp;в&nbsp;этом. Наша роль&nbsp;&mdash; придать энергии этим изменениям, запустить&nbsp;их. Для этого нас и&nbsp;выбирают. Поэтому SAPRUN&nbsp;&mdash; это энергия изменений
			+e.sign
				img(src="img/sign.png", alt="")
			+e.name Созинов Сергей
			+e.job Генеральный директор
	// end sAboutPerson