mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Команда
				p Наши сотрудники и&nbsp;то, как мы&nbsp;работаем, делает нашу компанию особенной 
			+e.list#sTeam__list()
				+e.wrap
					<canvas id="myChart" ></canvas>
			+e.bar.d-md-none()

		
		include sTeam-js.pug
	// end sTeam