
mixin mnu()
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each link in nav
			if link.subnav
				li.menu-item.menu-item-has-children
					a(href="#" itemprop="url")!= link.name
					ul.sub-menu
						each sublink in link.subnav
							li.menu-item.menu-item-has-children(itemprop="item" )
								a(href="#" itemprop="url")!= sublink.name
								ul.sub-menu 
									li.menu-item
										a(href="#" itemprop="url")!= sublink.name
								
			else
				li.menu-item(itemprop="item" ): a(href="#" itemprop="url")!= link.name
//- menu