mixin sTechnology(data)
	// start sTechnology
	+b.SECTION.sTechnology.section#sTechnology&attributes(attributes)
		.container
			+b.section-title
				h2 Технологии и инструменты
			+e.table
				+e.tr
					+e.title Заказная разработка ПО и&nbsp;приложений
					+e.list
						+e.list-item ABAP
						+e.list-item Web Dynpro
						+e.list-item UI5
						+e.list-item Fiori
						+e.list-item Java (SE, EE, FX, Spring)
						+e.list-item JavaScript (React, Angular, Vue, Node, Redux, Ext.JS)
						+e.list-item PHP
						+e.list-item ABAP
						+e.list-item Web Dynpro
						+e.list-item UI5
						+e.list-item Fiori
						+e.list-item Java (SE, EE, FX, Spring)
						+e.list-item JavaScript (React, Angular, Vue, Node, Redux, Ext.JS)
						+e.list-item PHP
				+e.tr
					+e.title Мобильная разработка
					+e.list
						+e.list-item ABAP
						+e.list-item Web Dynpro
						+e.list-item UI5
						+e.list-item Fiori
						+e.list-item Java (SE, EE, FX, Spring)
						+e.list-item JavaScript (React, Angular, Vue, Node, Redux, Ext.JS)
						+e.list-item PHP
				+e.tr
					+e.title Интеграция
					+e.list
						+e.list-item ABAP
						+e.list-item Web Dynpro
						+e.list-item UI5
						+e.list-item Fiori
						+e.list-item Java (SE, EE, FX, Spring)
						+e.list-item JavaScript (React, Angular, Vue, Node, Redux, Ext.JS)
						+e.list-item PHP
				+e.tr
					+e.title DevOps
					+e.list
						+e.list-item ABAP
						+e.list-item Web Dynpro
						+e.list-item UI5
						+e.list-item Fiori
						+e.list-item Java (SE, EE, FX, Spring)
						+e.list-item JavaScript (React, Angular, Vue, Node, Redux, Ext.JS)
						+e.list-item PHP
				+e.tr
					+e.title Разработка кроссплатформенных приложений
					+e.list
						+e.list-item ABAP
						+e.list-item Web Dynpro
						+e.list-item UI5
						+e.list-item Fiori
						+e.list-item Java (SE, EE, FX, Spring)
						+e.list-item JavaScript (React, Angular, Vue, Node, Redux, Ext.JS)
						+e.list-item PHP
				+e.tr
					+e.title Разработка решений на&nbsp;базе платформ
					+e.list
						+e.list-item JavaScript (React, Angular, Vue, Node, Redux, Ext.JS)
						+e.list-item PHP
						+e.list-item ABAP
						+e.list-item Web Dynpro
						+e.list-item UI5
						+e.list-item Fiori
						+e.list-item Java (SE, EE, FX, Spring)
						+e.list-item JavaScript (React, Angular, Vue, Node, Redux, Ext.JS)
						+e.list-item PHP
				+e.tr
					+e.title Инструменты математического моделирования
					+e.list
						+e.list-item JavaScript (React, Angular, Vue, Node, Redux, Ext.JS)
						+e.list-item PHP
						+e.list-item ABAP
						+e.list-item Web Dynpro
						+e.list-item UI5
						+e.list-item Fiori
				+e.tr
					+e.title Разработка и&nbsp;проектирование баз данных
					+e.list
						+e.list-item ABAP
						+e.list-item Web Dynpro
						+e.list-item UI5
						+e.list-item Fiori
						+e.list-item Java (SE, EE, FX, Spring)
						+e.list-item JavaScript (React, Angular, Vue, Node, Redux, Ext.JS)
						+e.list-item PHP
						
	// end sTechnology