// start .sResourceBase
.sResourceBase {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	background: #08080B;
	--sTPB: #{rem(24)};
	@include media-breakpoint-up(lg){
		--sTPB: #{rem(48)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		@include media-breakpoint-up(md){
			max-width: rem(617);
		}
	}
	&__col{

	}
	&__item{

	}
	h2{
		margin-bottom: 0;
	}
	&__item{
		display: flex;
		align-items: flex-start;
		&:nth-last-child(2) {

			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
		&:last-child {
			grid-column: 2 / 3;
			grid-row: 2 / 4;
		}
		@include media-breakpoint-up(lg){
			margin-bottom: rem(32);
			flex-direction: row;
		}
		flex-direction: column;
		margin-bottom: rem(24);
	}
	&__number{
		font-weight: 100;
		// font-size: rem(88);
		@include rfs(88px);
		line-height: 100%;
		color:$primary;
		margin-right: rem(24);
		width: em(22);
	}
	&__item-info{
		padding-top: rem(8);
	}
	&__item-title{
		font-weight: 600;
		font-size: rem(18);
		line-height: calc(24/18);
	}
	&__text{
		margin-top: rem(16);
		font-size: rem(13);
		line-height: calc(16/13);
		color: #7E7D85;
	}
	ul{
		margin-bottom: 0;
		list-style: none;
	}
	&__list{
		// @include media-breakpoint-up(md){
		// 	column-width: auto;
		// 	column-count: 2;
		// 	column-gap: rem(50);
		// }
		@include media-breakpoint-up(lg){
		// 	column-gap: rem(106);
		grid-gap: 0 rem(106);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		}
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sResourceBase