mixin sResourceBase(data)
	// start sResourceBase
	+b.SECTION.sResourceBase.section#sResourceBase&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sResourceBase
				
			.row
	// end sResourceBase