// start .sAboutCaption
.sAboutCaption {
	--sPT: #{rem(28)};
	--sPB: #{rem(24)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(52)};
		--sPB: #{rem(56)};
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
		@include media-breakpoint-up(md) {
			margin-bottom: rem(60);
		}
		margin-bottom: rem(34);
	}
	&__col {
	}
	&__item {
	}
	h2 {
		text-transform: uppercase;
		font-weight: 400;
		font-size: rem(30);
		line-height: calc(36 / 30);
		margin-bottom: rem(8);
	}
	&__sub-title {
		font-weight: 300;
		font-size: rem(13);
		line-height: calc(16 / 13);
		color: #7e7d85;
	}

	.row {
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(48)};
			--bs-gutter-y: #{rem(40)};
		}
		--bs-gutter-y: #{rem(24)};
	}
	
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAboutCaption
